<html>
    <head>
        <title> Yashika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        
        <nav id="sidebar">
            <ul class="menu">
                <li><a href="#" class="active">Home</a></li>
                <li><a href="/education">Education</a></li>
                <li><a href="/projects">Portfolio</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
        
        <div class="home">
            <div class="left">

                <h1 class="mName"> YASHIKA</h1>
                <p id="desc">I'm 23 years old and deeply interested in cloud computing and DevOps. My focus is on mastering technologies that enhance and streamline cloud operations. I have hands-on experience with key cloud platforms and tools that support efficient development workflows. Always eager to learn, I'm actively seeking opportunities to advance my skills and make a meaningful impact in the tech industry.</p>

            </div>

            <div class="right">
                <img src="{{ url_for('static', filename='img/PIC.jpg') }}">
            </div>
        </div>
        <div class="icondiv">
            <a href="https://github.com/yashika7455"><img class="icon" src="{{ url_for('static', filename='img/GitHub.png') }}"></a>
            <a href="mailto:yashikachopra64446@gmail.com"><img class="icon" src="{{ url_for('static', filename='img/gmail.png') }}"></a>
            <a href="https://www.linkedin.com/in/yashika-chopra-548064265/"><img class="icon" src="{{ url_for('static', filename='img/media.png') }}"></a>
            <!-- <a href="https://github.com/yashika7455"><img class="icon" src="{{ url_for('static', filename='img/GitHub.png') }}"></a> -->
        </div>
        <div class="parentcircle">


            <div class="black-circle"></div>
            <div class="black-circle"></div>
            <div class="black-circle"></div>
        </div>
        
    </body>
</html>

