<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
<body>
<div>
    <nav id="sidebar">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/education">Education</a></li>
            <li><a href="#" class="active">Portfolio</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<div class="project-space">
    <div id="project">
        <h1> The Study Partner</h1>
        <p><span>Description:</span> TheStudyPartner is an innovative online educational platform designed to support students through their academic journey. With a mission to enhance learning experiences and outcomes, TheStudyPartner offers a comprehensive suite of tools and resources tailored to meet the diverse needs of students at various educational levels.</p>
        <p><span>Tech-Stack: </span>HTML, CSS, Javascript, Reactjs, PHP, Mysql</p>
        <p><span>Year: </span>2024</p>
    </div>
    <div id="project">
    <h1> CI/CD Pipelines</h1>
    <p><span>Description: </span><i>This CI/CD pipeline project is designed to streamline and automate the entire software development and deployment process. Leveraging powerful tools like Jenkins, Git and GitHub, Docker, and Ansible, the pipeline ensures seamless integration and continuous delivery, enhancing both productivity and the reliability of software releases.</i></p>
    <p><span>Tech-Stack:</span> Git and Github, Jenkins, Docker, Ansible</p>
    <p><span>Year:</span> 2023</p>
    </div>
</div>

